<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>xnatfs-webapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
      <servlet> 
        <servlet-name>milton</servlet-name>
        <servlet-class>org.xnat.xnatfs.webdav.xnatfsServlet</servlet-class>
        <init-param>
            <param-name>resource.factory.class</param-name>
            <param-value>com.ettrema.http.fs.FileSystemResourceFactory</param-value>
        </init-param>
        <init-param>
            <param-name>response.handler.class</param-name>
            <param-value>com.bradmcevoy.http.MsOfficeResponseHandler</param-value>
        </init-param>
        <init-param>
            <param-name>not.found.url</param-name>
            <param-value>/404.jsp</param-value>
        </init-param>    
<!-- Uncomment the following filter to enable request and response logging to your user.home-->

        <init-param>
            <param-name>filter_0</param-name>
            <param-value>com.bradmcevoy.http.DebugFilter</param-value>
        </init-param>

    </servlet>
        <servlet-mapping>
        <servlet-name>milton</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>    
    
  
</web-app>